name: Java Tests with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Start application
        run: java -jar ./artifacts/app-card-delivery.jar &

      - name: Wait for application to start
        run: sleep 10

      - name: Run tests
        run: ./gradlew test --info -Dselenide.headless=true